<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# حماية ملفات الحساسة
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# منع الوصول إلى مجلدات معينة
<IfModule mod_autoindex.c>
    Options -Indexes
</IfModule>

# ضبط تنسيق الأخطاء
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php